<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Borja Soler</title>
  <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
  <!-- excerpt from the base page template -->
  <!-- capture the CSS content as a Nunjucks variable -->
</head>
<body class="container">

  <header>
    <nav class="navbar">
      {% include "partials/lggnav.njk" %}
      {% include "partials/mainnav.njk" %}
    </nav>  
  </header>

  {% block content %}{% endblock %}

  {% include "partials/footer.njk" %}

</body>
</html>
